NEXT_PUBLIC_SUPABASE_URL=https://oyyeublaovgncvktirfp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95eWV1Ymxhb3ZnbmN2a3RpcmZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4MjQ0MDksImV4cCI6MjA3MDQwMDQwOX0.iJYMcA3GBMFTKhdWfX1_5WMTeCFiPemqaAKiC8pMcMA